.listagemProdutos {
    display: flex;
    flex-wrap: wrap;
    border: 1rem solid var(--secondaryColor);
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.produtos {
    border: 5px solid var(--secondaryColor);
}

.header {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.input{
    width: 50%;
    margin-left: 100px !important;
    margin-top: 35px !important;
}


